In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
dataset = pd.read_csv('../data/groundtruth/csv/train_big_size_A_B_E_K_WH_WB_points.csv')

In [32]:
dataset.head()

                    images       x       y  labels
0  L_07_05_16_DSC00126.JPG  2504.0   392.0       3
1  L_07_05_16_DSC00126.JPG  1726.5   458.5       3
2  L_07_05_16_DSC00127.JPG  2626.5  2337.5       3
3  L_07_05_16_DSC00127.JPG  1818.0  2462.5       3
4  L_07_05_16_DSC00150.JPG  1539.0  1411.0       2

In [35]:
# Check labels distribution (not with plots, just numbers)
labels = dataset['labels'].value_counts()
print(labels)

labels
6    2012
3    1732
1    1678
2    1058
4     316
5     166
Name: count, dtype: int64

In [3]:
test_dataset = pd.read_csv('../data/groundtruth/csv/test_big_size_A_B_E_K_WH_WB_points.csv')

In [4]:
test_dataset.head()

                    images       x       y  labels
0  S_07_05_16_DSC00094.JPG  5862.5   626.5       3
1  S_07_05_16_DSC00162.JPG  1029.0   665.5       2
2  S_07_05_16_DSC00162.JPG   806.0   610.0       2
3  S_07_05_16_DSC00163.JPG  1305.0  2797.0       2
4  S_07_05_16_DSC00163.JPG  1082.5  2744.0       2

In [5]:
labels_test = test_dataset['labels'].value_counts()
print(labels_test)

labels
6    688
1    675
3    477
2    349
4     74
5     36
Name: count, dtype: int64